    <h1>Visual Firewall</h1>
        <div>
            <label>Initial Speed (in seconds): </label>
            <div>
                <input type="text" ng-model="vm.speed" required/>
                <button ng-click="vm.saveSpeed()">Set Speed</button>
            </div>

            <label>Add a Whitelisted IP: </label>
            <div>
                <input type="text" ng-model="vm.whitelistIP"/>
                <button ng-click="vm.addIpToWhitelist()">Add to Whitelist</button>
            </div>

            <label>Currently Whitelisted IPs</label>
            <ul>
                <li ng-repeat="IP in vm.whiteList">{{IP}}<button class="btn btn-xs btn-danger" ng-click="vm.removeFromWhitelist(IP)">Delete from Whitelist</button></li>
            </ul>
        </div>
        <button ui-sref="visualFirewall" ng-if="vm.checkSpeed()">Save and Continue</button>