<!DOCTYPE html>
<meta charset="utf-8">
<style type="text/css">
  
	.node {
    cursor: pointer;
  }

  .overlay{
      background-color:#EEE;
  }
   
  .node circle {
    fill: #fff;
    stroke: steelblue;
  }
   
  .node text {
    font-size:10px; 
    font-family:sans-serif;
  }
   
  .link {
    fill: none;
    
  }

  .templink {
    fill: none;
    stroke: red;
  }

  .ghostCircle.show{
      display:block;
  }

  .ghostCircle, .activeDrag .ghostCircle{
       display: none;
  }

</style>

<body>
<!--This is where the sidebar options are for speed, whitelist additions and the whitelist itself.-->
<div class="col-md-1" style="display: inline-block">
    <label>Speed (in seconds): </label>
    <input ng-model="vm.speed" type="text"/>
    <label>Add a Whitelisted IP: </label>
    <div>
        <input type="text" ng-model="vm.whitelistIP"/>
        <button ng-click="vm.addIpToWhitelist()">Add to Whitelist</button>
    </div>
    <label>Currently Whitelisted IPs</label>
    <ul>
        <li ng-repeat="IP in vm.whiteList">{{IP}}<button class="btn btn-xs btn-danger" ng-click="vm.removeFromWhitelist(IP)">Delete from Whitelist</button></li>
    </ul>
	<button class="btn btn-xs" ng-if="vm.pause" ng-click="vm.pause = false"><i class="fa fa-play"></i></button>
	<button class="btn btn-xs"ng-if="!vm.pause" ng-click="vm.pause = true"><i class="fa fa-pause"></i></button>
</div>
<div class="col-md-1"></div>
<!--This is the container holding the d3 object-->
<div id="tree-container" class="col-md-10"></div>

</body>
